:root{
    /* ### Primary */
--Light-Cyan: hsl(193, 38%, 86%);
--Neon-Green: hsl(150, 100%, 66%);
/* ### Neutral */
--Grayish-Blue: hsl(217, 19%, 38%);
--Dark-Grayish-Blue: hsl(217, 19%, 24%);
--Dark-Blue: hsl(218, 23%, 16%);
/* ## Typography */
/* ### Body Copy */
--Font-size: 28px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-size:62.5%;
}

.container{
    width:100%;
    height:100vh;
    background-color:var(--Dark-Blue);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

.item{
    width:90%;
    height:35%;
    background-color: var(--Dark-Grayish-Blue);
    text-align: center;
    border-radius:10px;
    box-shadow:0px 0px 10px 20px var(--Dark-Blue),
               0px 0px 10px 40px var(--Dark-Blue),
               0px 0px 10px 60px var(--Dark-Blue);
}

.head h1{
    font-size:1.5rem;
    color:var(--Light-Cyan);
    font-weight: 500;
    padding:1.5rem 0rem;
    color: var(--Neon-Green);
}

.para{
    font-size:1.3rem;
    color:var(--Light-Cyan);
}
.icon{
    padding:1rem 0rem;
}
.icon .pause{
    width:100%;
    height:20px;
    background-image: url(./images/pattern-divider-mobile.svg) ;
    background-repeat: no-repeat;
    text-align: center;
    /* margin-inline:1rem; */
  background-position: center;
}
.button{
    box-shadow:0px 0px 0px 20px var(--Neon-Green);
    border-radius:50%; 
    margin-top:-.7rem;
    background-color: var(--Neon-Green);
}

.button:hover{
    box-shadow:0px 0px 0px 20px var(--Neon-Green),0px 0px 60px 20px var(--Neon-Green);
    border-radius:50%; 
}
@media (min-width:1200px){
    .item{
        width:30%;
        height:30%;
        background-color: var(--Dark-Grayish-Blue);
        text-align: center; 
    }
    .icon .pause{
        width:100%;
        height:5vh;
        background-image: url(./images/pattern-divider-desktop.svg) ;
        background-repeat: no-repeat;
        text-align: center;
    }
}